out/
debug-*.log
**/node_modules/
test-results/
coverage-report/
coverage-report-core/
coverage-report-core2/
playwright-report/
playwright/.cache/
.vs/
**/bin/
**/obj/
*.user

.fake
TestResults
test/GodotGenerator.Infrastructure.Ai.Tests/TestResults/
